*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Segoe UI';    
}
nav{
    margin-bottom: 50px;
}
span{
    color:#5db137;
}
main{
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}
.main{
    display: grid;
    grid-template-columns: 4fr 1fr;    
}
.main-left{
    text-align: center;
}
.main-left .C{
    letter-spacing: 10px;
    margin-bottom: 40px;
    margin-top: 30px;
}
.main-left li{
    list-style: none;
    text-align: left;
    margin-bottom: 10px;
}
.main-left input{
    height: 30px;    
    width: 500px;
    border: none;
    /* border-bottom: 1px solid black; */
    /* border-left: 1px solid black; */
    /* border-bottom-left-radius: 5px; */
    box-shadow: 1px 1px 1px;
    outline: none;
}

.foto{
    border: 1px solid black;
    height: 220px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    font-size:12px;
    background: rgb(238, 238, 238);
    text-align: center;
}
.rem,.family{
    margin-top: 30px;
    margin-bottom: 30px;
}
.boxes{
    display: flex;
    flex-direction: column;
}
.box{
    display: flex;
    flex-direction: column;
}
.box-left{    
    font-style: italic;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 15px;    
}

.box-right input{
    width: 1000px;
    height: 30px;   
    padding: 4px; 
    /* margin-bottom: 10px; */
    border: none;
    /* border-bottom: 1px solid black; */
    /* border-left: 1px solid black; */
    /* border-bottom-left-radius: 5px; */
    box-shadow: 0px 0px 1px;
    outline: none;
}
.box-right>select{
    width: 1000px;
    height: 30px;   
    padding: 4px; 
    margin-bottom: 10px;
    border: none;
    /* border-bottom: 1px solid black; */
    /* border-left: 1px solid black; */
    /* border-bottom-left-radius: 5px; */
    box-shadow: 0px 0px 1px;
    outline: none;
}

.box-right textarea{
    width: 1000px;
    padding: 4px;
    margin-bottom: 10px;
    border: none;
    /* border-bottom: 1px solid black; */
    /* border-left: 1px solid black; */
    /* border-bottom-left-radius: 5px; */
    box-shadow: 0px 0px 1px;
    outline: none;

}
/* .til{
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.til input{
    width: 150px;
    font-size: 16px;
}
.til select{
    height: 30px;
    width: 35px;    
} */
.lang{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-bottom: 10px;
}
.lang select{
    height: 30px;
    width: 35px;

}
.lang .tilni-tanla {
    height: 30px;
    width: 150px; 
    font-size: 16px;  
    border:none;
    border-bottom: 1px dashed #ccc; 
}
.lang .tilni-tanla option{
    height: 30px;
    width: 150px;    
    font-size: 16px;
}

.box-right button{
    height: 30px;
    width: 35px;
}
.lang input{
    width: 150px;
    font-size: 16px;
}
.jadval,.input{
    display: flex;
}
.jadval p{
    height: 80px;
    width: 200px;
    border:1px solid black;
    font-weight: 700;
    text-align: center;
}
.input input{
    height: 80px;
    width: 200px;
    border:1px solid black;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}
.adres,.mail,.number,.date{
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.adres p,.mail p,.number p,.date p{
    font-weight: 700;
    margin-bottom: 10px;
    font-style: italic;
}
.adres input,.mail input,.number input,.date input{
    width: 500px;
    height: 30px;   
    padding: 4px; 
    margin-bottom: 10px;
    border: none;
    /* border-bottom: 1px solid black; */
    /* border-left: 1px solid black; */
    /* border-bottom-left-radius: 5px; */
    box-shadow: 0px 0px 1px;
    outline: none;
}
.raqam{
    display: flex;
    align-items: center;
    
}
.raqam b, .raqam select{
    height: 32px;
    width: 45px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
}
.raqam input{
    margin-bottom: 0;
    width: 440px;
    font-size: 16px;
    list-style: none;
}
